.button {
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: $tiny $small;
    font-size: calc(1.0rem + 1.6vw);
    font-weight: weight(semi-bold);
    border-radius: 1rem;
    background: colour(secondary500);
    color: colour(light);
    box-shadow: 0px 0px 10px rgba(108, 108, 108, 0.25);
    transition: background 300ms, border-color 300ms, color 300ms;

    &:hover {
        background: darken(colour(secondary500),2.5);
    }

    &--alt {
        @extend .button;
        background: transparent;
        border: solid 5px colour(secondary500);
        color: colour(secondary500);

        &:hover {
            background: transparent;
            border-color: darken(colour(secondary500),4);
            color: darken(colour(secondary500),4);
        }

    }

    @include media(">largetablet"){
        padding: $tiny $medium;
    }

}

p + .button {
    margin-top: $small;
}