.about{
    padding-top: $gutter;

    &__header {
        padding-bottom: $small;
    }

    &__content {
        max-width: 900px;
    }

    &__photography {
        padding-top: $small;
        display: grid;
        grid-gap: $micro;
        align-items: center;
        grid-template-columns: repeat(2, 50%);
        opacity: 0.9;

        @include media(">largephone"){
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        }   

        @include media(">smalldesktop"){
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        }

        &__image {
            max-width: 100%;
        }

    }

}

