.header {
    display: flex;
    flex-wrap: wrap;

    @include media(">largetablet"){
        flex-wrap: nowrap;
    }
    
    &__content {
        order: 2;
        position: relative;
        z-index: 3;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: $large;
        
        @include media(">largetablet"){
            order: 1;
            margin-top: 0;
            padding-right: $gutter;
        }

    }

    &__buttons {
        display: flex;
        width: 100%;
        margin-top: $medium;

        .button--alt {
            margin-left: $large;
        }

    }

    &__media {
        order: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include media(">largetablet"){
            order: 2;
            max-width: 50vmin;
            min-width: 35%;
            justify-content: flex-end;
        }

        .profileImg {
            position: relative;
            background: colour(primary200);
            box-shadow: 0px 0px 1rem rgba(colour(dark), 0.1);
            padding: 2.8rem;
            border-radius: 100%;
            max-width: 50vmin;

            &:before {
                content: "";
                position: absolute;
                top: 1.4rem;
                left: 1.4rem;
                right: 1.4rem;
                bottom: 1.4rem;
                background: colour(primary100);
                border-radius: 100%;
                box-shadow: 0px 0px 0.5rem colour(primary100);
            }

            &__img{
                position: relative;
                z-index: 1;
                width: 100%;
                max-width: 100%;
                border-radius: 100%;
            }

            @include media(">largetablet"){
                padding: 8rem;
                
                &:before {
                    top: 4rem;
                    left: 4rem;
                    right: 4rem;
                    bottom: 4rem;
                }

            }

        }

    }

} 