.header {
    display: flex;
    flex-wrap: wrap;

    @include media(">largetablet"){
        flex-wrap: nowrap;
    }
    
    &__content {
        order: 2;
        position: relative;
        z-index: 3;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: $large;
        
        @include media(">largetablet"){
            order: 1;
            margin-top: 0;
            padding-right: $gutter;
        }

    }

    &__buttons {
        display: flex;
        width: 100%;
        margin-top: $medium;

        .button--alt {
            margin-left: $large;
        }

    }

    &__media {
        order: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include media(">largetablet"){
            order: 2;
            max-width: 50vmin;
            min-width: 35%;
            justify-content: flex-end;
        }

        .profileImg {
            position: relative;
            z-index: 1;
            width: 100%;
            box-shadow: 0px 0px 1rem rgba(colour(dark), 0.1);
            max-width: 45vmin;
            border-radius: 2rem;
        }

    }

} 