$micro:    calc(0.5rem + 1vw);
$tiny:     calc(1.0rem + 1vw);
$small:    calc(1.8rem + 1vw);
$medium:   calc(3.4rem + 1vw);
$large:    calc(4.8rem + 1vw);
$x-large:  calc(6.2rem + 1vw);
$xx-large: calc(7.8rem + 1vw);

$gutter:   9vmin;



$weights: (
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700
);

$colours: (
    primary100:	#FEDCEC,
    primary200: #FDB9D9,
    primary300:	#FB95C5,
	primary400:	#FA72B2,
	primary500:	#F94F9F,
	primary600:	#C73F7F,
	secondary400:#9EA7E6,
	secondary500:#8691E0,
	secondary600:#6B74B3,
    light:	    #ffffff,
    dark:       #828699

);

$breakpoints: (
  smallphone: 320px,
  largephone: 425px,
  smalltablet: 768px,
  largetablet: 1024px,
  smalldesktop: 1440px,
  largedesktop: 1600px
) !default;